<!-- Static navbar -->
 <div class="navbar navbar-default navbar-fixed-top" id="navbar">
   <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <%= link_to 'Confituresis', root_path, :class => "navbar-brand" %>
   </div>
   <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
       <li><%= link_to 'Accueil', root_path %></li>            
       <li><%= link_to 'Confitures', products_path %></li>            
       <li><a href="#">Contact</a></li>            
     </ul>
     <% if !admin_signed_in? %>
       <div class="login"><%= link_to 'Connexion', admin_products_path %></div>
     <% end %>
   </div><!--/.nav-collapse -->
   </div>
 </div>