<!DOCTYPE html>
<html>
<head>

  <title>Rails Store Administration</title>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display|Krona+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: 'screen' %>
</head>
<body class="<%=@section%>">
	
	<div id="wraper">

	<div class="container" id="container">
		administrationss
		<button value="Ajouter un produit"></button>
	</div>

	</div>

	
</body>
</html>
